      <div id="header" class="clearfix"><div class="global-padding">
        <div class="top-links">
          <div class="user-settings" dropdown-menu="userSettingsMenu" dropdown-model="userSettingsMenuSelected">
            <span class="setting-icons">settings</span>
            <div class="user-detail">
              <span class="user-img" ><img ng-src="{{userProfile.picture}}"></span>
              <span class="user-name">{{welcomeUser}}</span>
            </div>
          </div>
        </div>
	    <div class="logo"><a href="#"><img src="img/logo.png" alt="Hsk chat" /></a></div>
      </div></div><!--- end /.global-padding, /#header --->
