        <div id="menu-area" class="clearfix"><div class="global-padding">
          <div class="user-detail">
            <span class="user-img"><img ng-src="{{userProfile.picture}}"></span>
            <span class="user-name">{{welcomeUser}}</span>
          </div>
          <div id="navigation">
	        <ul class="navigation">
		      <li class="home first"><a href="#/">Home</a></li>
		      <li class="new-orders"><a href="#/">Notes</a></li>
		      <li class="enquiries"><a href="#/">Message <span ng-show="msgCount">{{msgCount}}</span></a></li>
		      <li class="invoice-history"><a href="#/">Chat History</a></li>
		      <li class="menui last"><a href="#">Menu</a></li>

	        </ul>
          </div>
        </div></div><!--- end /.global-padding, /#menu-area --->
